{% extends 'inicio.html' %}
{% load static %}
{% block contenido %}
<br>
<br>

<div class="container text-center">
    <h1>Zapatillas Urbanas</h1>
</div>
<br>
<div class="container text-center">
    <div class="row">
            {% for zapatilla in zapatillasurbanas %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{zapatilla.imagen_del_producto.url}}" class="" width="200px">
                {{zapatilla.titulo}}
                <a href="{% url 'zapatillas urbanas detalle' zapatilla.id %}">Ver <i class="bi bi-eye"></i></a>
                <a href="{% url 'zapatillas urbanas edicion' zapatilla.id %}">Editar<i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'zapatillas urbanas eliminar' zapatilla.id %}">Eliminar<i class="bi bi-trash text-danger"></i></a>
            </div>
            <br>
            {% endfor %}
    </div>
</div>
{% endblock %}





