{% extends 'inicio.html' %}
{% load static %}
{% block contenido %}
<body>
    <div class="container">
        <h1 class="text-center">Agrega un nuevo producto</h1>
    <div class="form-group">
    <form style=" width: 50vw; margin-left : 15vw;" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <div class="container text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
    </div>
    </div>
    <br>
    <br>
</body>
{% endblock %}