{% extends 'inicio.html' %}
{% load static %}
{% block contenido %}
<br>

  <head>
    <title>Sobre nosotros - Shoes Store</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          font-size: 16px;
          color: #333;
          margin: 0;
          padding: 0;
        }
        h1 {
          text-align: center;
          margin-top: 50px;
          margin-bottom: 30px;
        }
        p {
          line-height: 1.5;
          margin: 20px auto;
          max-width: 800px;
        }
      </style>
  </head>
  <body>
    <h1>Acerca de mí</h1>
    <p>¡Bienvenido a mi tienda de calzados en línea! Mi nombre es Emily y soy una apasionada de los zapatos y la moda en general.</p>
    <p>En esta tienda, ofrecemos una amplia selección de zapatos de alta calidad para hombres, mujeres y niños de todas las edades. Nos enorgullece ofrecer productos de las mejores marcas y diseñadores del mercado, asegurándonos de que nuestros clientes siempre reciban el mejor valor por su dinero.</p>
    <p>Pero no solo puedes comprar, también puedes publicar tus propios calzados para vender si asi lo deseas</p>
    <p>Gracias por visitar nuestra tienda de calzados en línea. ¡Esperamos que encuentres el par de zapatos perfecto para ti!</p>
  </body>
{% endblock %}
