{% extends 'inicio.html' %}
{% load static %}
{% block contenido %}

<br>
<br>
<div class="container">
    <p><h4>{{tacos.titulo}}</h4></p>
    {% if tacos.imagen_del_producto %}
    <p><img src="{{tacos.imagen_del_producto.url}}" alt=""></p>
    {% endif %}
    
    <p>Marca: {{tacos.marca}}</p>
    <p>Descripción: {{tacos.descripcion}}</p>
    <p>Precio(US$): {{tacos.precio}}</p>
    <p>Teléfono de Contacto: {{tacos.telefono}}</p>
    <p>Email de Contacto: {{tacos.email}}</p>
    </div>
{% endblock %}
